<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmingtang.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".ActivityApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!--
             <activity
            android:name=".MainActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".IdentifyingCodeActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
         <activity
            android:name=".MyFavoritesActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>